#container{
    position: relative;
}
#loader{
    height:100vh;
    width:100%;
    background-color:blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
#loader h1{
    font-size:100px;
    font-family: cursive;
    font-weight: bold;
}
#nav{
    height:100px;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:220px;
    text-transform: uppercase;
    padding: 0 50px;
}
#nav h1{
    height:30px;
    width:30px;
    display: flex;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Caveat', cursive;
font-family: 'DM Serif Text', serif;
font-family: 'Fasthand', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Serif', serif;
font-family: 'Source Serif 4', serif;
}
#nav1{
    display: flex;
    align-items: center;
    gap:80px;
    font-family:sans-serif;
}
#nav1 h3{
    font-size: large;
    font-weight: 300;
}
#images2{
    position: relative;
    top:90px;
    left:-120px;
}
#song{
    position:absolute;
    left:850px;
    top:110px;
    z-index: -1;
}
#main{
    padding: 0 70px;
    height:900px;
    width:100%;
}
#line1{
    color:blueviolet;
    font-size: xx-large;
}
#main h1{
    font-size: 80px;
    font-weight:900;
    font-family: 'Caveat', cursive;
font-family: 'DM Serif Text', serif;
font-family: 'Fasthand', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Serif', serif;
font-family: 'Source Serif 4', serif;
}
span{
    color:blueviolet;
}
#main p{
    font-size: larger;
    width:40%;
    padding:0 10px;
    font-family: serif;
}
#btn1,#monthly{
    height:50px;
    color:#fff;
    background-color: blueviolet;
    width:15%;
    font-size: larger;
    border-radius: 10px;
    margin-left: 10px;
}
#btn2{
    height:50px;
    width:15%;
    font-size: larger;
    border-radius: 10px;
    border: none;
    background-color: #FFF;
}
#wwl{
    margin-top: 50px;
    margin-left: 15px;
}
#wwl h3{
    font-size: large;
    position: relative;
    left:180px;
    top:-70px;
}
#img{
    height:500px;
    width:500px;
    position: relative;
    left:700px;
    top:-600px;
}
#creators,#page4{
    height:300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#creators h1,#page3 h1{
    font-size:40px;
    font-weight: 900;
    font-family: 'Caveat', cursive;
font-family: 'DM Serif Text', serif;
font-family: 'Fasthand', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Serif', serif;
font-family: 'Source Serif 4', serif;
}
#creators p,#page3 p{
    width:45%;
    font-family: serif;
}
#creators button,#page3 #more{
    background-color: blueviolet;
    color:#fff;
    padding: 10px 25px;
    border-radius: 5px;
}
#search{
    display:flex;
    justify-content: center;
    gap:30px;
    height:250px;
    padding:0 50px;
}
#box1,#box2,#box3{
    height:250px;
    width:350px;
    border-radius: 20px;
    text-align: center;
    padding:25px 30px;
}
#box1{
    background-color:orangered;
}
#box2{
    background-color: orange;
}
#box3{
    background-color:rgb(0, 252, 176);
}
#search h1{
    text-align: center;
    font-family: 'Caveat', cursive;
font-family: 'DM Serif Text', serif;
font-family: 'Fasthand', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Serif', serif;
font-family: 'Source Serif 4', serif;
}
#search p,#page3 p{
    font-family: serif;
}
.play{
    background-color: black;
    color:white;
    padding:8px 20px;
    border-radius: 8px;
}
#page3{
    margin-top: 60px;
    height:550px;
    width:100%;
    padding:10px 90px;
}
#page3 img{
    float:right;
    position: relative;
    left:-350px;
    top:-150px;
    height:400px;
    width:400px;
}
#page3 h2{
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
    line-height: 40px;
}
#page4{
    height:700px;
    width:100%;
}
#yearly{
    height:50px;
    width:15%;
    font-size: larger;
    border-radius: 10px;
    background-color: #FFF;
}
#am0{
    height:80px;
    width:100%;
    display: flex;
    justify-content: center;
    gap:15px;
}
#am1{
    height:500px;
    width:300px;
    background-color: blueviolet;
    color:#fff;
    padding: 20px;
}
#am2{
    height:500px;
    width:300px;
    background-color:white;
    border:2px solid black;
    color:black;
    padding: 20px;
}
#pricing{
    display: flex;
    justify-content: center;
    height:570px;
    width:100%;
    gap:20px;
    text-align: center;
}
#pricing button{
    background-color: black;
    color: #fff;
    padding:10px 15px;
    border-radius: 10px;
}
#pricing p{
    text-align: left;
}
#pricing h1{
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
}
#pricing h3{
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pricing p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#footer{
    height:400px;
    width:100%;
    color:black;
    display:flex;
    margin-top: 40px;
    padding: 15px;
    padding: 0 50px;
}
#part1{
    height:90%;
    width:600px;
}
#quick{
    display:flex;
    flex-direction: column;
    height:90%;
    width:400px;
    text-align: center;
}
#other{
    display:flex;
    flex-direction: column;
    height:90%;
    width:400px;
    text-align: center;
}
#socialmedia{
    display:flex;
    height:90%;
    width:300px;
    text-align: center;
    gap:20px;
}
#socialmedia i{
    font-size: xx-large;
    background-color: white;
    border:2px solid;
    padding: 5px;
}

