body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 100vh;
    align-items: center;
}
.container{
    background-color: #505050;
    border-radius: 10px;
    padding: 30px;
    height:600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
input{
    background-color: #505050;
    color: #FFF;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: x-large;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
}
input:hover{
    background-color: aqua;
}

#result{
    height:80px;
    border: none;
    box-shadow: none;
    text-align: end;
    font-size: 30px;
}
#result:hover{
    background-color: black;
}
.row2,.row3,.row4,.row5,.row6{
    display: flex;
    height:70px;
    gap:30px;
}
.equal{
    width:190px;
}
@media (max-width:500px){
    .container{
        height:400px;
        width: 270px;
    }
    input{
        padding: 10px 20px;
        border-radius: 10px;
        font-size: large;
    }
    #result{
        height:30px;
        font-size: 20px;
    }
    .row2,.row3,.row4,.row5,.row6{
        display: flex;
        height:50px;
        gap:25px;
    }
    .equal{
        width:125px;
    }
}